{% extends 'base.html' %}

{% block title %}Список отелей{% endblock %}

{% block content %}
    {% for hotel in data.hotel %}
        <li><a href="{% url  'hotel_url'  hotel.idhotel %}">{{ hotel.name }} </a>
        <br> Название: {{ hotel.name}} руб.
        <br> Адрес: {{ hotel.address }}
        <br> Количество звезд: {{ hotel.stars }}</li>
        <br> Страна: {{ hotel.country }}
{#        <img src="{% static hotel.image  %}" height="200" alt="photo {{ hotel.idhotel }}">#}
    {% empty %}
        <li>Список пуст. </li>
    {% endfor %}
{% endblock %}

{% block button_back %}
    <input type="button" onclick="history.back();" value="Назад"/>
{% endblock %}

