{% extends 'base.html' %}

{% block title %}Список отелей{% endblock %}

{% block content %}
    {% for hotel in data.hotels %}
        <li><a href="{% url  'hotel_url'  hotel.id %}">{{ hotel.name }} </a>
        <br> Название: {{ hotel.name}} руб.
        <br> Адрес: {{ hotel.address }}
        <br> Количество звезд: {{ hotel.stars }}</li>
        <br> Страна: {{ hotel.country }}
        <div><img src="{{ hotel.image }}" height="150" ></div>
    {% empty %}
        <li>Список пуст. </li>
    {% endfor %}
    
{% endblock %}


