{% extends 'base.html' %}

{% block title %}Туры{% endblock %}

{% block content %}
<p_hello>Добро пожаловать! Туроператор PegasFly-гарант вашего отдыха</p_hello>
<p_hepl><br> Пожалуйста, выберите нужный раздел</p_hepl>

{#<ul>#}
{#    {% for i in data.test %}#}
{#        <li><a href="{% url 'hotel_url' i.id %}">{{ i.rangeName }}</a> </li>#}
{#        <li>{{ i.rangeName }}</li>#}
{#    {% empty %}#}
{#        <li>Список пуст! Sold out</li>#}
{#    {% endfor %}#}
   <ul>
        <li><a href="{% url 'hotel_type_url' %}">Отели</a></li>
        <li><a href="{% url 'cont_type_url' %}">Контакты</a></li>
    </ul>
{% endblock %}



{#% for i in data.tour %#}
        {#% if i.title == 'Страны' %#}
            {#<li><a #href="{% url 'country_type_url' %}">{{ i.title }}</a> </li>  #}
        {#% elif i.title == 'Отели' %#}
            {#<li><a href="{% url 'hotel_type_url'  %}">{{ i.title }}</a> </li>  #}
        {#% else %#}
            {# <li><a href="{% url 'cont_type_url'  %}">{{ i.title }}</a> </li> #}
        {#% endif %#}
    {#% endfor %#}



