{% extends 'base.html' %}

{% block title %}Туры{% endblock %}

{% block content %}
<p_hello>Добро пожаловать! Туроператор PegasFly-гарант вашего отдыха</p_hello>
<p_hepl><br> Пожалуйста, выберите нужный раздел</p_hepl>
   <ul>
        <li><a href="{% url 'hotel_type_url' %}">Отели</a></li>
        <li><a href="{% url 'cont_type_url' %}">Контакты</a></li>
    </ul>
    <img src="https://thumbs.dreamstime.com/b/linear-simple-icon-luxury-hotel-stars-concept-tourist-stop-expensive-motel-trip-badge-travel-agency-flat-109534363.jpg" height="500" >
{% endblock %}




